// SPDX-License-Identifier: GPL-2.0-or-later OR MIT
/*
 * Copyright 2023 Toradex
 */

// Verdin iMX8MM with connected DSI Display.

/dts-v1/;
/plugin/;

/ {
	compatible = "toradex,verdin-imx8mm";
};

#include <dt-bindings/interrupt-controller/arm-gic.h>
#include <dt-bindings/gpio/gpio.h>
#include "display-tdo-ts070wsh02ce_overlay.dtsi"

&backlight {
	pwms = <&pwm1 0 6666667 0>;
	status = "okay";
};

&gpu {
	status = "okay";
};

/* Verdin I2C_2_DSI */
&i2c2 {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";

	bridge@2c {
		compatible = "ti,sn65dsi83";
		reg = <0x2c>;
		/* IRQ not connected */
		/* Verdin GPIO_10_DSI (SODIMM 21) */
		enable-gpios = <&gpio3 3 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_gpio_10_dsi>;

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;

				dsi_riv_in: endpoint {
					data-lanes = <1 2 3 4>;
					remote-endpoint = <&mipi_dsi_bridge2_out>;
				};
			};

			port@2 {
				reg = <2>;

				lvds_out_panel_riv: endpoint {
					remote-endpoint = <&panel_in_lvds_riv>;
				};
			};
		};
	};

    /* Goodix GT911 controller touchscreen */
    goodix_ts: gt911@5d {
        compatible = "goodix,gt911";
        reg = <0x5d>;
		/* Verdin DSI_1_INT# (TOUCH_INT#, SODIMM 17) */
        interrupt-parent = <&gpio3>;
        interrupts = <15 IRQ_TYPE_EDGE_RISING>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_gpio_9_dsi>, <&pinctrl_i2s_2_bclk_touch_reset>;
		/* Verdin I2S_2_BCLK (TOUCH_RESET#, SODIMM 42) */
		reset-gpios = <&gpio3 23 GPIO_ACTIVE_LOW>;
        status = "okay";
    };
};

&lcdif {
	status = "okay";
};

&mipi_dsi {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";

	port@1 {
		mipi_dsi_bridge2_out: endpoint {
			attach-bridge;
			remote-endpoint = <&dsi_riv_in>;
		};
	};
};