body {
    font-family: "Archive Regular", sans-serif;
    margin: 0;
    padding: 0;
    user-select: none;
    overflow-x: hidden; /* Remover barra de rolagem horizontal */
    overflow-y: hidden; /* Remover barra de rolagem vertical */
  }

  .container {
    position: relative;
    width: 100%;
    max-width: 400px;
  }

  .container .btn {
  position: fixed;
  top: 70%;
  right: 1%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #00508C;
  color: #f1f1f1;
  font-size: 11px;
  /*padding: 20px 30px; */
  width: 100px;
  height: 100px;
  border: none;
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container .btn .number {
  font-size: 40px; 
  text-align: center;
  color:#FFDE59;
  margin-top: 8px;
  margin-bottom: 1px;
}

.container .btn2 {
  position: fixed;
  top: 40%;
  right: 1%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #00508C;
  color: #f1f1f1;
  font-size: 11px;
  /*padding: 20px 30px; */
  width: 100px;
  height: 100px;
  border: none;
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container .btn2 .number {
  font-size: 40px; 
  text-align: center;
  color:#FFDE59;
  margin-top: 8px;
  margin-bottom: 1px;
}

.container .btn3 {
  position: fixed;
  top: 10%;
  right: 1%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #00508C;
  color: #f1f1f1;
  font-size: 11px;
  /*padding: 20px 30px; */
  width: 100px;
  height: 100px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container .btn3 .number {
  font-size: 50px; 
  text-align: center;
  color:#FFDE59;
  margin-top: 8px;
  margin-bottom: 1px;
}







